
<div class="row">
<div class="col-golden-sm ">
<div class="well test" >
<%= render 'form' %>
<%= link_to 'New Post', new_post_path, remote: true, class:"btn btn-sm btn-success", id: "new-post-btn" %>

</div>
</div>
<div class="col-golden-lg ">
<div class="mywell">

<%= render @posts %>

  
</div>
</div>
</div>

<br>



