/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$background_color: #e9eaed;
$white: #ffffff;
$pomegranate: #F22613;
$nice-blue: #2574A9;
$nice-blue2: #0896FF;
$nice-red: #D91E18;
$nice-orange: #D35400;
$grid-gutter-width: 10px;
$text-primary: #2C3E50;
$nice-gray: #ECF0F1;
$dark-gray: #95A5A6;

body{
	background-color: $background_color;
	color: $text-primary;
	font-family: 'Montserrat', sans-serif;
}

#content{
	margin-top:60px;
}
.well{
	background-color: $white;
	margin-bottom:0px;
	margin-top: 0;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid darken($nice-gray,6);
	padding: 12px;
}

.well:first-child{
	border-radius: 4px 4px 0 0 ;

}
.well:last-child{
	border-radius: 0 0 4px 4px ;

}

.btn-group{
	width: 100%;
	.btn{
		width:33.3%;
	}
}

.post-action{
	//float:right;
	padding-bottom: 6px;
	font-size: .8em;
	
	.action-btn
	{
		padding-left:4px;
		color: lighten($nice-blue,30);
	}
	.glyphicon{

	}
}

.post-action:after{
	content:"  ";
}
.focus{
	background-color: lighten($nice-gray,4);
}

.hider{
	position: fixed;
	top: -2000px;
}

.post-img{
	float:left;
	border-radius: 8px;
	margin-right: 8px;
	margin-bottom: 8px;

}
.time{
	color:lighten($nice-blue,20);
	font-size:.7em;
	padding-left: 2px;
	margin-top:8px;
	display: inline-block;

}
.post-user-name{
	
	color:darken($nice-blue,2);
	display: inline-block;
}

.post-statement{
	padding-top:2px;
	display: block;
}

.btn-group{
	width: 100%;
	margin: 0;
	border-radius: 0;
	padding-bottom: px;
}

