/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$background_color: #e9eaed;
$white: #ffffff;
$pomegranate: #F22613;
$nice-blue: #2574A9;
$nice-blue2: #0896FF;
$nice-red: #D91E18;
$nice-orange: #D35400;
$grid-gutter-width: 10px;
$text-primary: #2C3E50;
$nice-gray: #ECF0F1;
$dark-gray: #95A5A6;

body{
	background-color: $background_color;
	color: $text-primary;
	font-family: 'Montserrat', sans-serif;
}

.well{
	background-color: $white;
	margin-bottom:1px;
}

.btn-group{
	width: 100%;
	.btn{
		width:33.3%;
	}
}

.post-action{
	float:right;
	padding-top: 10px;
	font-size: .7em;
	.action-btn
	{
		padding-left:2px;
	}
}