/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

//@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$background_color: #e9eaed;
$white: #ffffff;
$pomegranate: #F22613;
$nice-blue: #2574A9;
$nice-blue2: #0896FF;
$nice-red: #D91E18;
$nice-orange: #D35400;
$grid-gutter-width: 10px;
$text-primary: #2C3E50;
$nice-gray: #ECF0F1;
$dark-gray: #95A5A6;
$primary-color: #2c3e50;

body{
	background-color: $background_color;
	color: $text-primary;
	font-family: Helvetica,'Lato', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.38;
	//font-family: 'Lato', sans-serif;
}

#content{
	margin-top:70px;
}
.well{
	background-color: $white;
	margin-bottom:0px;
	margin-top: 0;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid darken($nice-gray,6);
	padding: 12px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	
}

.well:first-child{
	border-radius: 4px 4px 0 0 ;

}
.well:last-child{
	border-radius: 0 0 4px 4px ;

}

.btn-group{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	.vote{
		width:33.3%;
		border-left: solid 1px $nice-gray;
	}
	.side{
		width:33.3%;
	}
}

.post-action{
	//float:right;
	padding-bottom: 6px;
	font-size: .8em;
	
	.action-btn
	{
		padding-left:4px;
		color: lighten($primary-color,30);
	}
	.glyphicon{

	}
}

.post-action:after{
	content:"  ";
}
.focus{
	background-color: lighten($nice-gray,4);
}

.hider{
	position: fixed;
	top: -2000px;
}

.post-img{
	float:left;
	border-radius: 8px;
	margin-right: 8px;
	margin-bottom: 8px;

}
.time{
	color:lighten($primary-color,20);
	font-size:.6em;
	padding-left: 2px;
	margin-top:8px;
	display: inline-block;

}
.post-user-name{
	
	color:$primary-color;
	display: inline-block;
	margin-top: 10px;
}

.post-statement{
	padding-top:2px;
	display: block;
}

.btn-group{
	width: 100%;
	margin: 0;
	border-radius: 0;
	padding-bottom: px;
}

.sidebar-outer {
    position: relative;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
    }
}

.text-counters{
	font-size: .5em;
	color: #737373;
}

.text-counters-error{
	font-size: .5em;
	color: $nice-red;
}

.form-group{
	margin-bottom: 0 !important;
}


.progress-vertical {
    width: 40%;
    height: 200px !important;
    position: relative;
}
.progress-vertical .bar {
    width: 100% !important;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.btn-primary .badge{
	color: $primary-color;
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 230px;
  height: 25px;
  background: image-url('logo/opinio-eleph.svg');
  background-size: 230px 25px;
  
  }














